<h1>Questions</h1>
<!-- <p>Find me in app/views/questions/index.html.erb</p> -->

<ul>

<% @questions.each do |question|%>
<div class="inline-list">
  <li>
    <%= link_to question.name, question_path(question)%>
    <hr>
  </li>
</div>
<%end%>

</ul>

<%= link_to 'new', new_question_path %>
